<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Stefano Paulo de Souza - Curriculo</title>
</head>
<body>
    <div class="main">
    <header class="header">
        <div class="header-name">
            <h1>Stefano Paulo de Souza</h1>
            <p>Fullstack Developer</p>
        </div>
        <div class="header-info">
            <p><a href="https://stefanopaulo.github.io">portfolio</a></p>
            <p>stefanopaulo47@gmail.com</p>
            <p>(85) 9 9694-8279</p>
            <p>Maracanaú - CE - Brazil</p>
        </div>
    </header>

    <section class="profile">
        <h2>Professional Sumary</h2>
        <p>Graduated in systems analysis and development, with knowledge in marketing and SEO. Dedicated student and professional, passionate about web, programming and informatics in general. Being challenged and keeping up to date are my motivations.</p>
    </section>

    <section class="skills">
        <h2>Skills</h2>
        <ul>
            <li>HTML and CSS</li>
            <li>Javascript</li>
            <li>Node</li>
            <li>PHP</li>
            <li>SQL</li>
        </ul>
    </section>

    <section class="education">
        <h2>Education</h2>
        <div class="card-education">
            <p class="college">Analysis and systems development – Graduation 2019</p>
            <p>College of Technology Lourenço Filho</p>
            <p>Fortaleza - Ceará, Brazil</p>
        </div>
        <div class="card-education">
            <p class="college">Maintenance technician and computer support – 2014/2016</p>
            <p>CEPEP Technical Schoo</p>
            <p>Fortaleza - Ceará, Brazil</p>
        </div>
    </section>

    <section class="work">
        <h2>Work History</h2>
        <div class="work-history">
            <h3>Orion Telecom (03/2018 - 06/2020)</h3>
            <p class="office">Support analyst</p>
            <p class="description">I was mainly responsible for the attendance and support to internet users, for analyzing
                problem solving of internet problems and monitoring of network assets.</p>
        </div>
    </section>

    <section class="languages">
        <h2>Languages</h2>
        <p>Fluent Portuguese (native) / Advance English</p>
    </section>
    </div>
</body>
</html>